* {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  
}
header nav a {
  color: palevioletred;
  text-decoration: none;
  font-size: 25px;
}

header nav {
    display: flex;
    gap: 10px
}
header h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
